body {
  margin: 0;
  font-family: "Gruppo", sans-serif;
  background: white;
  color: #d40000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 50px; 
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  -webkit-text-stroke: 5px red;
  text-stroke: 5px red; 
}
.logo span {
  text-transform: uppercase;
}

.social a {
  display: block; 
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

.container {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar a {
  text-decoration: none;
  color: #d40000;
  font-size: 1.2rem;
}

hr {
  border: none;         
  border-top: 2px solid #d40000;
  margin-left: 20px;
  margin-right: 20px;
}

main {
  flex: 1;
  padding-left: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.item img {
  width: 100%;
  display: block;
}
.item p {
  margin-top: 5px;
  font-size: 0.9rem;
  text-transform: lowercase;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}
.pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: #d40000;
  padding-bottom: 2px;  
}
.pagination .active {
  font-weight: normal;
  border-bottom: 4px solid #d40000;
  min-width: 8px;
  text-align: center;
}
